/* 
* @Author: LiSnB
* @Date:   2015-06-12 09:38:42
* @Last Modified by:   LiSnB
* @Last Modified time: 2015-10-30 16:27:13
*/

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: Monaco, Consolas;
    margin: 0;
    color: #45ffea;
    background-color: black;
}

#notepad{
    padding-top: 10px;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#code{
    display: inline;
    overflow: hidden;
}

@keyframes blink{
    from{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}

@-webkit-keyframes blink{
    from{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    to{
        visibility: visible;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
    }
}

.cursor{
    -webkit-animation: blink .5s infinite alternate;
         -o-animation: blink .5s infinite alternate;
            animation: blink .5s infinite alternate;

    border-left: solid 2px #45ffea;
}

#logo{
    position: absolute;
    top: 20%;
    right: 10%;

    -webkit-animation: rotate 8s linear infinite ;
         -o-animation: rotate 8s linear infinite ;
            animation: rotate 8s linear infinite ;
}